.testFailed {
    color: #d14;
}

img#testStatus {
    width: 30px;
    vertical-align: middle;
    border-radius: 3px;
}

span#passedValue {
    background-color: gainsboro;
    border-radius: 2px;
    font-size: 1.1em;
    padding: 2px;
}

span#solutionResult {
    background-color: gainsboro;
    /* border: 1px solid black; */
    border-radius: 2px;
    font-size: 1.1em;
    padding: 2px;
}

span#correctResult {
    background-color: #A6E22E;
    /* border: 1px solid black; */
    border-radius: 2px;
    font-size: 1.1em;
    padding: 2px;
}