<mat-card id="welcome">
   <p> <b>Algorithmus</b> is an Angular app which I've created for the purpose of collecting and displaying JavaScript algorithms, problems, tasks, and
    issues that I have collected on my computer since January of 2017. In creating this app I have been able to create a storage database to keep all of
     this type of work in one location. The beginning algorithms which I have solved have not been updated to reflect my current skills and knowledge. 
     This has not been done in order to keep a record of my progress in JavaScript. I plan to rework these problems in the future and compare the results.
</p>
<p>
    
    This app has a simple navigation feature and structure to it. 
    What I like about this app is that it contains <a href="https://nodejs.org/en/" target="_blank">Node scripts</a> for the server side operations on .js files with algorithms. One script selects all .js files
    from the local directory and generates a JSON file with <a href="https://en.wikipedia.org/wiki/Base64" target="_blank">Base64</a> binary-to-text encoding scheme.
 Another little feature that I've included is the ability to test code performance which will result in the code's performance time. 
    In addition it is also possible to test each algorithm and see if it passes the functionality test or if there are errors present. I have purposely included some errors in code in order to demonstrate the notification of what a failed code will result in comapred with elements that pass the functionality test.

   
    Try it out!
</p>
<b>Maxim Semenov</b>, December 2017.

</mat-card>