<mat-card id="welcome">
   <p> <b>Algorithmus</b> is a small Angular app that collects and displays the most of JavaScript algorithms, problems tasks and
    issues I have collected on my computer since January 2017. It has simple navigation and structure. The cool think is
    it contains Node scripts for the server side operations on .js files with algorithms. One script picks all .js files
    from your local directory and generates a JSON file with Base64 binary-to-text encoding scheme. </p>
    <p>
    Also it has a nice little feature to test code performance! In addition you test each algorithm and see if it passes the test.
    </p>
    Try it out.

</mat-card>