.example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div#report {

float: right;
margin-right: 35%;

}

.clearfix:after {
    content: ""; 
    display: block;  
    clear: both; 
    visibility: hidden;
    height: 0;  
  }