.example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.report {
    display: inline-block;
}

span#passedValue {
    background-color: gainsboro;
    border-radius: 2px;
    font-size: 1.1em;
    padding: 2px;
}


li#listAcceptanceReport {
    padding-bottom: 8px;
    font-size: 0.95em;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

ul {
    padding-left: 0px;
    list-style-type: none;
}

