<mat-card class="components clearfix" id="productivityComponent">


    <p id="cardTitle">Productivity card:</p>
    <div>
        <button mat-raised-button color="primary" (click)="isReportPerformanceShown = !isReportPerformanceShown; runPerformanceTest($event.target)">Test Performance</button>
        <button mat-raised-button color="primary" (click)="isReportAcceptanceShown = !isReportAcceptanceShown; runAcceptanceTest()">Run Acceptance Test</button>
    </div>
    <div class="report" *ngIf="isReportPerformanceShown" ng-focus="focused = true">
        <h3>Solution performance report:</h3>
        <p>This function has been executed:
            <b>1000 times. </b>
        </p>
        <p>The performance time:
            <b> {{performanceTime}} milliseconds. </b>
        </p>
        <p>The performance time:
            <b> {{performanceTime / 1000}} seconds. </b>
        </p>
    </div>
    <div class="report" *ngIf="isReportAcceptanceShown">
        <h3>Acceptance test report:</h3>

        <ul>

            <li *ngFor="let test of testResults" id="listAcceptanceReport">

                <app-failed *ngIf="!test.testReport.passed" [testResult]="test"></app-failed>
                <app-success *ngIf="test.testReport.passed" [testResult]="test"></app-success>

            </li>
        </ul>


    </div>


</mat-card>

<!-- testUnit: item.testUnit,
testReport: {
    result: functionExecution,
    expectedResult: item.rightResult,
    passed: functionExecution === item.rightResult
} -->