<mat-card class="components clearfix" id="productivityComponent">


    <p id="cardTitle">Productivity card:</p>

    <button mat-raised-button color="primary" (click)="openPerformanceCard($event.target)">Test Performance</button>

    <div id="report" *ngIf="isReportShown">
        <h3>Solution performance report:</h3>
        <p>This function has been executed:
            <b>1000 times. </b>
        </p>
        <p>The performance time:
            <b> {{performanceTime}} milliseconds. </b>
        </p>
        <p>The performance time:
            <b> {{performanceTime / 1000}} seconds. </b>
        </p>

        <h3>Acceptance test report:</h3>

        <ul>

            <li *ngFor="let test of testResults" id="listAcceptanceReport">

                <app-failed *ngIf="!test.testResult.passed" [testResult]="test.testResult"></app-failed>
                <app-success *ngIf="test.testResult.passed" [testResult]="test.testResult"></app-success>

            </li>
        </ul>
    </div>


</mat-card>