ul.dropDownList {
    padding: 15px 1px 6px 6px;
    font-size: 0.8em;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 7px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    color: hotpink;
}


/* .active {
    color: red;
} */

a:visited.active {
    color: red;
}

mat-card#nav {
    height: 100%;
}