/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Encode Sans Expanded', sans-serif;
    background-color: rgb(236, 236, 236);
}

div {
    height: 100%;
}

div#appWrapper {
    position: relative;
    margin: 1%;
    height: 600px;
}

div#problemComponent {
    border: 1px solid deepskyblue;
    height: 20%
}

div#productivityComponent {
    border: 1px solid deepskyblue;
    height: 10%;
}

div#solutionComponent {
    border: 1px solid deepskyblue;
    height: 70%;
}

div.components {
    border: 1px solid deepskyblue;
}

div#componentWrapper {
    margin-left: 20%;
    width: 80%;
    /* height: 100%; */
    border: 1px solid black;
}

div#navigationComponent {
    /* height: 100%; */
    position: absolute;
    width: 20%;
    border: 1px solid black;
}